<div class="container is-fluid">
  <h3 class="title is-3">Your articles</h3>
  <% @user.pages.reverse_each do |page| %>
    <%= render 'shared/page_preview', page: page %>
  <% end %>
</div>
<h3 class="title is-3">Your liked articles</h3>
<div class="container is-fluid">
  <% @user.likes.reverse_each do |like| %>
    <%= render 'shared/page_preview', page: like.page %>
  <%end%>
</div>
