<% if comment.content != nil %>
  <div class="box">
    <span>
      <p class="title is-6"><%= comment.user.name %>
        <% if comment.user_id == current_user.id %>
          <p class="hover_description">Delete</p>
          <%= link_to '',
             comment_path(comment),
                         method: :delete,
                         data: { confirm: 'Are you sure?' },
                         :class=>"navbar-item fas fa-trash" %><%end%>
      </p>
      <%= simple_format comment.content %></span>
  </div>
<% end %>
