<% if @pages.length != 0 %>
  <% @pages.reverse_each do |page| %>
    <%= render 'shared/page_preview', page: page%>
  <% end %>
<%else%>
  <p>There doesn't appear to be anything here! why not <%= link_to "make a new post?", new_page_path %></p>
<%end%>
