<div class="container is-fluid">
  <div class="notification">
    <h1><strong><%= @page.title %></strong></h1><br>
    <small><%= @page.user.name %></small>
    <p><%= @page.content %></p>
  </div>
  <%
=begin%>
 <% if @page.user_id == @current_user.id %>
    <%= link_to 'Edit this page', edit_page_path(@page) %>
  <% end %>
<%
=end%>
</div>
