<div class="container is-fluid">

    <h3 class="title is-3"><%= tag.name %></h3>
    <% @tag.pages.each do |page| %>
     <div class="notification">
      <%= render 'shared/page_preview', page: page %>
      </div>
    <% end %>
</div>
<br>
