/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// $navbar-background-color: hsl(0, 0%, 40%);
// $navbar-box-shadow-size: 0 10px 0 0;

.wrapper {
  width: 65%;
  position: relative;
  margin: 0 auto;
}

.logo-text {
  font-size: 2rem;
  padding: 4px;
}

.navbar-dropdown.dropdown-right {
  left: calc(-250% + 5px);
}

.hover_description {
  position: relative;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 1;
  transition: opacity 1.2s, visibility .2s ease;
}

.edit-button:hover .hover_description{

  visibility: visible;
  opacity: 0.5;
}
