// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag {
  display: flex;
  float: right;
  margin-left: auto;
}

.comment-button {
  float: right;
}

.navbar-end.edit-bar {
  float: right;
  padding-bottom: 10px;
}

a.navbar-item.fas.fa-edit {
  float: right;
}

// .box {
//   padding: 1.5rem 1.25rem 1.25rem 1.25rem;
// }
.card {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.container-wrap {
 width: auto;
 max-width: 800px;
 outline:none;
 margin-left: auto;
 margin-right: auto;
}

.container-user {
 width: auto;
 max-width: 1000px;
 outline:none;
 margin-left: auto;
 margin-right: auto;
}

.container-pages {
 width: auto;
 max-width: 800px;
 outline:none;
 margin-left: auto;
 margin-right: auto;
}

#page-title {
  margin-bottom: 0.5rem;
}
